DATABASE_URL="file:./dev.db"
JWT_SECRET="iis-super-secret-key-2025"
JWT_REFRESH_SECRET="iis-refresh-secret-key-2025"
USE_CUSTOM_API=true
STRAPI_URL=http://localhost:1337
PORT=3001
GRPC_SERVER_HOST=localhost:50051
